<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>ΣΑΝΤΟΚΡΗΤΗ</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <h1>
            ΣΑΝΤΟΚΡΗΤΗ
        </h1>
        <h2>
            Ο κρυμμένος παράδεισος του Ιονίου
        </h2>
        <h3>{{model}} {{session.loggedUserId}}</h3>
        <hr>
        <nav id="navbar">
            <ul>
                <li class="navitem" id="map"><a href="/map">Χάρτης</a></li>
                <li class="navitem" id="info"><a href="/info">Πληροφορίες</a></li>
                <li class="navitem" id="contact"><a href="/contact">Επικοινωνία</a></li>
                <li class="navitem" id="bookmarks"><a href="/bookmarks">Αποθηκευμένα μέρη</a></li>
                <li class="navitem" id="loginlogout">
                    {{#if name}}
                        <a href="/logout">Αποσύνδεση</a>
                    {{else}}
                        <a href="/login">Είσοδος</a>
                    {{/if}}</a>
                </li>
            </ul>
        </nav>
        <hr>
        
        <div class="container">
            {{{body}}}
        </div>
    </body>

</html>