    <section id="intro">Καλωσορίσατε στη Σαντοκρήτη,<br>ένα μοναδικό νησί με πλούσια ιστορία και κληρονομιά.<br><br>
        Η Σαντοκρήτη συνδυάζει τον αρχαίο πολιτισμό με τη σύγχρονη ζωή,<br>δημιουργώντας μια αξέχαστη εμπειρία για τους
        επισκέπτες της.<br><br>
        Ας ανακαλύψουμε μαζί τον πλούτο της ιστορίας και του πολιτισμού της Σαντοκρήτης.</section>
    <section>
        <h1>Η ΣΑΝΤΟΚΡΗΤΗ ΜΕ ΜΙΑ ΜΑΤΙΑ</h1>
        <hr style="margin-left: 100px; margin-right: 100px;">
        <article>
            <div id="ancient-image">
                <img src="images/ancient.jpg" height="400px">
            </div>
            <div id="ancient-info">
                <h2>Αρχαιότητα</h2>
                <p class="info">Η Σαντοκρήτη αποτελεί έναν πολύ αρχαίο πολιτισμό, ο οποίος ανθούσε κατά την εποχή του
                    μυκηναϊκού πολιτισμού. Το νησί είναι γνωστό για τις εντυπωσιακές αρχαίες πόλεις και τα ιερά που
                    αποτελούν τμήμα της καλά διατηρημένης αρχαιολογικής κληρονομιάς του. Το περίφημο ναό της Αθηνάς
                    Σαντοκρήτης αποτελεί ένα εκθαμβωτικό παράδειγμα της μινωικής αρχιτεκτονικής και αποτελεί έναν από
                    τους σημαντικότερους προορισμούς αρχαιολογικού τουρισμού. Οι επισκέπτες θα βρουν ενδιαφέρον να
                    εξερευνήσουν τα αρχαία θέατρα και να ακολουθήσουν τα βήματα των αρχαίων ποιητών και φιλοσόφων που
                    εμπνεύστηκαν από την ομορφιά και τον πλούτο της Σαντοκρήτης.</p>
            </div>
        </article>
        <article>
            <div id="medieval-image">
                <img src="images/medieval.jpg" height="400px">
            </div>
            <div id="medieval-info">
                <h2>Μεσαιωνικοί χρόνοι</h2>
                <p class="info">Κατά τη διάρκεια της Βυζαντινής εποχής, η Σαντοκρήτη αναδείχθηκε ως ένα κέντρο
                    πολιτισμού και θρησκευτικής πίστης. Μοναστήρια όπως το Αγίου Ιωάννη του Θεολόγου στην Πάτμο και ο
                    Παναγία Κερά, αποτελούν μόνο μερικά από τα αρχιτεκτονικά κοσμήματα της εποχής. Η Σαντοκρήτη συνέβαλε
                    επίσης σημαντικά στον πολιτιστικό και θρησκευτικό βίο της Βυζαντινής Αυτοκρατορίας, με τα μοναστήρια
                    και τους ναούς της να αποτελούν προορισμούς προσκυνημάτων για τους πιστούς. Η αρχιτεκτονική της
                    εποχής, με τα χαρακτηριστικά μωσαϊκά και τις οθωμανικές επιρροές, παραμένει μέχρι σήμερα ένα
                    αξιοσημείωτο κομμάτι της πολιτιστικής κληρονομιάς της Σαντοκρήτης. Οι επισκέπτες καλούνται να
                    εξερευνήσουν τα μοναστήρια και τους ναούς της Σαντοκρήτης, ανακαλύπτοντας την πνευματική κληρονομιά
                    και την αρχιτεκτονική μεγαλοπρέπεια της εποχής.</p>
            </div>
        </article>
        <article>
            <div id="modern-image">
                <img src="images/now-1.jpg" height="400px">
            </div>
            <div id="modern-info">
                <h2>Σήμερα</h2>
                <p class="info">Η Σαντοκρήτη αποτελεί έναν πολύ αρχαίο πολιτισμό, ο οποίος ανθούσε κατά την εποχή του
                    μυκηναϊκού πολιτισμού. Το νησί είναι γνωστό για τις εντυπωσιακές αρχαίες πόλεις και τα ιερά που
                    αποτελούν τμήμα της καλά διατηρημένης αρχαιολογικής κληρονομιάς του. Το περίφημο ναό της Αθηνάς
                    Σαντοκρήτης αποτελεί ένα εκθαμβωτικό παράδειγμα της μινωικής αρχιτεκτονικής και αποτελεί έναν από
                    τους σημαντικότερους προορισμούς αρχαιολογικού τουρισμού. Οι επισκέπτες θα βρουν ενδιαφέρον να
                    εξερευνήσουν τα αρχαία θέατρα και να ακολουθήσουν τα βήματα των αρχαίων ποιητών και φιλοσόφων που
                    εμπνεύστηκαν από την ομορφιά και τον πλούτο της Σαντοκρήτης.</p>
            </div>
        </article>
    </section>

    <section>
        <h1>ΧΑΙΡΕΤΙΣΜΟΙ</h1>
        <hr style="margin-left: 100px; margin-right: 100px;">
        <article>
            <div id="mayor-image">
                <img src="images/mayor.jpg" height="400px">
            </div>
            <div id="mayor-greeting">
                <h2>Λάλος Πενάκης</h2>
                <h3>Δήμαρχος Σαντοκρητών</h3>
                <p class="info">Αγαπητοί φίλοι,<br><br>

                    Καλωσορίσατε στη Σαντοκρήτη, έναν μαγικό προορισμό που συνδυάζει τον αρχαίο πολιτισμό με τη σύγχρονη ζωή. Είναι μεγάλη μου χαρά και τιμή να σας υποδεχθώ σε αυτό το εκπληκτικό νησί που αναδεικνύει τον πλούτο της φύσης και την πολιτιστική κληρονομιά του. Με περηφάνια σας προσκαλώ να εξερευνήσετε τις ακτές μας, να γευτείτε τις νοστιμιές μας και να ανακαλύψετε την ομορφιά που κρύβει κάθε γωνιά της Σαντοκρήτης. Ελπίζω να περάσετε μια αξέχαστη διαμονή και να φύγετε με μοναδικές εμπειρίες και αναμνήσεις που θα διαρκέσουν εφ' όρου ζωής.
                    
                    <br><br>Με εκτίμηση,
                    <br>Λάλος Πενάκης</p>
            </div>
        </article>
        <article>
            <div id="other-image">
                <img src="images/president.jpg" height="400px">
            </div>
            <div id="other-greeting">
                <h2>Λευτέρπη Σαντοκρητάκη</h2>
                <h3>Πρόεδρος Ένωσης Επιχειρηματιών Σαντοκρήτης</h3>
                <p class="info">
                    Αγαπητοί επισκέπτες και φίλοι της Σαντοκρήτης,<br><br>
                    
                    Είναι μεγάλη χαρά και τιμή μας να σας καλωσορίζουμε στο πανέμορφο νησί μας, όπου η φιλοξενία συναντά την επιχειρηματική δυναμικότητα. Ως πρόεδρος της Ένωσης Επιχειρηματιών Σαντοκρήτης, είναι μεγάλη μου χαρά να σας προσκαλέσω να ανακαλύψετε την ποικιλία των επιχειρήσεων και των υπηρεσιών που προσφέρει ο τόπος μας. Από τα μικρά οικογενειακά καταστήματα έως τα πολυτελή ξενοδοχεία και εστιατόρια, η Σαντοκρήτη διαθέτει κάτι για κάθε γούστο και προτίμηση. Ελπίζουμε ότι η διαμονή σας θα είναι ευχάριστη και αξέχαστη, γεμάτη με μοναδικές εμπειρίες και ευκαιρίες ανακάλυψης.
                    <br><br>Καλώς ήλθατε!
                    <br>Με εκτίμηση,
                    <br>Λευτέρπη Σαντοκρητάκη</p>
            </div>
        </article>
    </section>