{{#if message}}
    <p>{{message}}</p>
{{/if}}
<form action="/login" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    {{!<div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>}}
    <button type="submit">Login</button>
</form>
{{!<p class="text-center text-muted small"><a href="/register">Δημιουργία νέου λογαριασμού</a></p>}}
