{{#if message}}
    <p>{{message}}</p>
{{/if}}
<form action="/register" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="name" id="name" name="name" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="isShopKeeper">Are you a shop keeper (0: no, 1: yes):</label>
        <input type="isShopKeeper" id="isShopKeeper" name="isShopKeeper" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
<button type="submit">Register</button>
</form>
<p>Έχετε ήδη λογαριασμό;</p>
<p><a href="/login">Είσοδος</a></p>