<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Sign-in/Register</title>
    <link href="css/common.css" rel="stylesheet">
    <link href="css/sign-in.css" rel="stylesheet">
</head>
<body>
    <div id="header-navbar-placeholder"></div>

    <h1>Ξεκινήστε να σχεδιάζετε το ταξίδι σας στη Σαντοκρήτη!</h1>
    <hr style="margin-left: 100px; margin-right: 100px;">
    <div id="container">
        <div id="form-intro">
            Συνδεθείτε ή εγγραφείτε στον τουριστικό οδηγό μας για να μπορείτε να αποθηκεύετε τα αγαπημένα σας μέρη στη
            Σαντοκρήτη και να σχεδιάσετε εύκολα το ταξίδι σας στον κρυμμένο παράδεισο του Ιονίου.
        </div>

        <form id="signInForm" action="home.html">
            <label for="username">Όνομα χρήστη:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Κωδικός:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Είσοδος</button>
            <label id="registerLabel">Δεν έχετε λογαριασμό ακόμα; <a href="#"
                    id="toggleRegistration">Εγγραφή</a></label>
        </form>

        <form id="registrationForm" style="display: none;" action="home.html">
            <label for="username">Όνομα χρήστη:</label>
            <input type="text" name="username" required>
            <label for="password">Κωδικός:</label>
            <input type="password" name="password" required>
            <label for="email">email:</label>
            <input type="email" id="email" name="email" required>
            <label for="phone">Τηλέφωνο:</label>
            <input type="tel" id="phone" name="phone" required>
            <label for="country">Χώρα:</label>
            <select id="country" name="country" required>
                <option value="">Επιλέξτε χώρα</option>
                <option value="USA">Ελλάδα</option>
                <option value="USA">USA</option>
                <option value="Canada">Canada</option>
                <option value="UK">UK</option>
            </select>
            <label for="shopkeeper">Είμαι καταστηματάρχης</label>
            <input type="checkbox" id="shopkeeper" name="shopkeeper">
            <button type="submit">Εγγραφή</button>
            <label id="signInLabel">Έχετε ήδη λογαριασμό; <a href="#" id="toggleSignIn">Σύνδεση</a></label>
        </form>
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            var navbarPlaceholder = document.getElementById('header-navbar-placeholder');
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'header_navbar.html', true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    navbarPlaceholder.innerHTML = xhr.responseText;
                }
            };
            xhr.send();
        });
    </script>
    <script src="js/register.js"></script>
</body>

</html>