.info-core {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: OpenSans;
    color: rgb(0, 49, 59);
}

.title {
    font-size: 1.3rem;
}

.title a {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(4, 69, 82);
}

.info-text {
    padding: 0;
    width: inherit;
    font-size: 1.1rem;
    margin: 0;
}

.keywords-text {
    width: inherit;
    font-size: 1rem;
    color: rgb(70, 70, 70);
}

.row-auto a {
    margin: 0;
    padding: 0;
}


.swiper {
    text-align: center;
    background-color: black;
    border-radius: 1rem;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding: 0;
    margin: 0;
}

.swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Media queries for desktop vs mobile */
@media (max-width: 767.98px) {

    .info-core {
        width: 100%;
    }

    .swiper {
        width: 100%;
    }

    .swiper-slide {
        height: 12rem;
    }


}


@media (min-width: 768px) {

    .info-core {
        margin-left: 30rem;
        margin-right: 30rem;
        width: 60%;
    }

    .swiper {
        width: 30rem;
    }


    .swiper-slide {
        height: 20rem;
    }
    

}