@font-face {
    font-family: Alegreya;
    src: url(/public/fonts/Alegreya-VariableFont_wght.ttf);
}


#islandName,
#islandSlogan {
    font-family: Alegreya;
    color: white;
    justify-self: center;
    align-self: center;
}

#islandName {
    font-size: 2rem;
}

#islandSlogan {
    font-size: 1rem;
}

.background-container {
    background-image: url(/images/background-image-2.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    background-repeat: repeat;
}